# Servidor
PORT=3000

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=backend_restaurantes

# Sincronización de esquema (SOLO en desarrollo: true)
DB_SYNCHRONIZE=false